<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Starter Page - Yummy Bootstrap Template</title>
    <link rel="stylesheet" href="/css/mcdonalds.css">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicons -->
    <link href="/img/favicon.png" rel="icon">
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/uber-move-text" rel="stylesheet">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Amatic+SC:wght@400;700&display=swap"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/aos/aos.css" rel="stylesheet">
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="/css/main.css" rel="stylesheet">


</head>

<body class="starter-page-page">


    <div class="container py-5">

        <div class="row">
            <div class="col">
                <div class="container banner-div">
                    <img src="/img/menu/od_banner.jpg" alt="" class="banner-img">
                    <img src="/img/icons/od_icon.png" class="resturant-icon ms-2" alt="">
                </div>
            </div>

            <div class="row pt-5 ms-2">
                <div class="col">
                    <h1 class="fs-2 fw-bold" style="font-family: 'Uber Move Text', sans-serif; color: black;">OD
                    </h1>
                </div>

                <div class="col d-flex align-items-center">
                    <div class="container search-bar-container">
                        <form class="d-flex" role="search">
                            <img src="/img/icons/search.png" class="search-icon" alt="search-icon">
                            <input class="form-control me-2 search-bar ps-5"
                                style="border-radius: 25px; width: 70%; background-color: #F3F3F3; color: #7B7B7B; border-color: #F3F3F3;"
                                type="search" placeholder="Search in OD" aria-label="Search">
                        </form>
                    </div>
                </div>



                <!-- delivery-meta-info-section-start -->
                <div class="container">
                    <div
                        class="row py-3 mt-4 d-flex justify-content-between align-items-center delivery-meta-info flex-wrap">
                        <!-- Left Column -->
                        <div class="col-12 col-md-6 mb-3 mb-md-0">
                            <div class="meta-info-div d-flex justify-content-center justify-content-md-start">
                                <button class="meta-info-btn text-center px-3">Delivery</button>
                                <button class="meta-info-btn text-center px-3 mx-3">Pickup</button>
                                <button class="meta-info-btn text-center px-3">Reservation</button>
                            </div>
                        </div>

                        <!-- Right Column -->
                        <div class="col-12 col-md-6">
                            <div
                                class="d-flex flex-column flex-md-row gap-3 justify-content-center justify-content-md-end">
                                <!-- Delivery Fee -->
                                <div class="delivery-info delivery-fee text-center px-5">
                                    <p class="uber-move-regular m-0">Delivery Fee</p>
                                    <p class="uber-move-regular m-0" style="color: #787878;">238 pkr</p>
                                </div>

                                <!-- Delivery Time -->
                                <div class="delivery-info text-center px-4">
                                    <p class="uber-move-regular m-0">Expected delivery time</p>
                                    <p class="uber-move-regular m-0" style="color: #787878;">28 minutes</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>
    <!-- delivery-meta-info-section-end -->

    <!-- menu-start -->
<div class="container ">
    <div class="row mx-2">
        <div class="col">
            <h2 class="uber-move-heading">Featured items</h2>
        </div>
    </div>

    <!-- menu items -->
    <div class="row mx-2">
        <div class="col">
            <div class="d-flex flex-wrap justify-content-between justify-content-md-start justify-content-sm-center gap-3">

                <!-- Item 1 -->
                <div class="card" style="width: 18rem;">
                    <img src="/img/menu/od_item_1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="m-0 card-text uber-move-menu-item-heading">Box of 9 Regular Donuts</p>
                        <p class="py-1 m-0 uber-move-menu-item-para">2430pkr<span style="color: #7B7B7B;">. 1100Cal</span></p>
                        <div class="d-flex justify-content-center pt-3">
                            <button class="meta-info-btn text-center px-5" 
                                data-name="Box of 9 Regular Donuts" 
                                data-price="2430" 
                                data-calories="1100" 
                                data-image="/img/menu/od_item_1.jpg">
                                Add to Cart
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Item 2 -->
                <div class="card" style="width: 18rem;">
                    <img src="/img/menu/od_item_2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="m-0 card-text uber-move-menu-item-heading">Donut + Coffee</p>
                        <p class="py-1 m-0 uber-move-menu-item-para">800pkr<span style="color: #7B7B7B;">. 550Cal</span></p>
                        <div class="d-flex justify-content-center pt-3">
                            <button class="meta-info-btn text-center px-5" 
                                data-name="Donut + Coffee" 
                                data-price="800" 
                                data-calories="550" 
                                data-image="/img/menu/od_item_2.jpg">
                                Add to Cart
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Item 3 -->
                <div class="card" style="width: 18rem;">
                    <img src="/img/menu/od_item_3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="m-0 card-text uber-move-menu-item-heading">Spicy Pakistani Wich</p>
                        <p class="py-1 m-0 uber-move-menu-item-para">750pkr<span style="color: #7B7B7B;">. 460Cal</span></p>
                        <div class="d-flex justify-content-center pt-3">
                            <button class="meta-info-btn text-center px-5" 
                                data-name="Spicy Pakistani Wich" 
                                data-price="750" 
                                data-calories="460" 
                                data-image="/img/menu/od_item_3.jpg">
                                Add to Cart
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Item 4 -->
                <div class="card" style="width: 18rem;">
                    <img src="/img/menu/od_item_4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="m-0 card-text uber-move-menu-item-heading">Salted Caramel Shake</p>
                        <p class="py-1 m-0 uber-move-menu-item-para">687pkr<span style="color: #7B7B7B;">. 950Cal</span></p>
                        <div class="d-flex justify-content-center pt-3">
                            <button class="meta-info-btn text-center px-5" 
                                data-name="Salted Caramel Shake" 
                                data-price="687" 
                                data-calories="950" 
                                data-image="/img/menu/od_item_4.jpg">
                                Add to Cart
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Item 5 -->
                <div class="card" style="width: 18rem;">
                    <img src="/img/menu/od_item_5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="m-0 card-text uber-move-menu-item-heading">Brownies</p>
                        <p class="py-1 m-0 uber-move-menu-item-para">410pkr<span style="color: #7B7B7B;">. 330Cal</span></p>
                        <div class="d-flex justify-content-center pt-3">
                            <button class="meta-info-btn text-center px-5" 
                                data-name="Brownies" 
                                data-price="410" 
                                data-calories="330" 
                                data-image="/img/menu/od_item_5.jpg">
                                Add to Cart
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- menu-end -->



    <!-- reviews start -->
    <div class="container my-5">
        <div class="row mx-2 pt-3">
            <div class="col">
                <h2 class="uber-move-heading pb-2">Ratings and reviews</h2>

            </div>
        </div>

        <!-- review items start-->
        <div class="row mx-2">
            <div class="col">
                <div class="d-flex flex-wrap justify-content-between flex-start gap-3">

                    <div class="card custom-card" > 
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p class="uber-move-menu-item-heading mb-0">Naresh J.</p>
                                <p class="mb-1"><img src="/img/icons/star.png" style="width: 12px;" alt="">
                                    <img src="/img/icons/star.png" style="width: 12px;" alt="">
                                    <img src="/img/icons/star.png" style="width: 12px;" alt="">
                                    <img src="/img/icons/star.png" style="width: 12px;" alt="">
                                    <img src="/img/icons/star.png" style="width: 12px;" alt="">
                                    <span class="uber-move-menu-item-para" style="color: #5E5E5E;">12/01/24</span>
                                </p>
                               <p class="uber-move-menu-item-para">because it's so good</p>
                            </blockquote>
                        </div>
                    </div>


                    <div class="card custom-card" > 
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p class="uber-move-menu-item-heading mb-0">couper C.</p>
                                <p class="mb-1"><img src="/img/icons/star.png" style="width: 12px;" alt="">
                                    <img src="/img/icons/star.png" style="width: 12px;" alt="">
                                    <img src="/img/icons/star.png" style="width: 12px;" alt="">
                                    <img src="/img/icons/star.png" style="width: 12px;" alt="">
                                    <img src="/img/icons/star.png" style="width: 12px;" alt="">
                                    <span class="uber-move-menu-item-para" style="color: #5E5E5E;">11/22/24</span>
                                </p>
                               <p class="uber-move-menu-item-para">Pizza was perfectly made \\nIt was delivered quickly and still 🔥 ;)\\nVery happy with my order</p>
                            </blockquote>
                        </div>
                    </div>
                    

                    <div class="card custom-card" > 
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p class="uber-move-menu-item-heading mb-0">Tania C.</p>
                                <p class="mb-1"><img src="/img/icons/star.png" style="width: 12px;" alt="">
                                    <img src="/img/icons/star.png" style="width: 12px;" alt="">
                                    <img src="/img/icons/star.png" style="width: 12px;" alt="">
                                    <img src="/img/icons/star.png" style="width: 12px;" alt="">
                                    <img src="/img/icons/star.png" style="width: 12px;" alt="">
                                    <span class="uber-move-menu-item-para" style="color: #5E5E5E;">12/01/24</span>
                                </p>
                               <p class="uber-move-menu-item-para">Fast and delicious</p>
                            </blockquote>
                        </div>
                    </div>


                    <div class="card custom-card" > 
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p class="uber-move-menu-item-heading mb-0">Arnold S.</p>
                                <p class="mb-1"><img src="/img/icons/star.png" style="width: 12px;" alt="">
                                    <img src="/img/icons/star.png" style="width: 12px;" alt="">
                                    <img src="/img/icons/star.png" style="width: 12px;" alt="">
                                    <img src="/img/icons/star.png" style="width: 12px;" alt="">
                                    <img src="/img/icons/star.png" style="width: 12px;" alt="">
                                    <span class="uber-move-menu-item-para" style="color: #5E5E5E;">10/14/24</span>
                                </p>
                               <p class="uber-move-menu-item-para">Pizza is cooked perfectly. Still very hot.</p>
                            </blockquote>
                        </div>
                    </div>


                    <div class="card custom-card" > 
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p class="uber-move-menu-item-heading mb-0">laurel S.</p>
                                <p class="mb-1"><img src="/img/icons/star.png" style="width: 12px;" alt="">
                                    <img src="/img/icons/star.png" style="width: 12px;" alt="">
                                    <img src="/img/icons/star.png" style="width: 12px;" alt="">
                                    <img src="/img/icons/star.png" style="width: 12px;" alt="">
                                    <img src="/img/icons/star.png" style="width: 12px;" alt="">
                                    <span class="uber-move-menu-item-para" style="color: #5E5E5E;">11/18/24</span>
                                </p>
                               <p class="uber-move-menu-item-para">Thin crust Pepperoni Yummo. We ate Aussies. Best I’ve ever had</p>
                            </blockquote>
                        </div>
                    </div>


                    <div class="card custom-card" > 
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p class="uber-move-menu-item-heading mb-0">Dennis T.</p>
                                <p class="mb-1"><img src="/img/icons/star.png" style="width: 12px;" alt="">
                                    <img src="/img/icons/star.png" style="width: 12px;" alt="">
                                    <img src="/img/icons/star.png" style="width: 12px;" alt="">
                                    <img src="/img/icons/star.png" style="width: 12px;" alt="">
                                    <img src="/img/icons/star.png" style="width: 12px;" alt="">
                                    <span class="uber-move-menu-item-para" style="color: #5E5E5E;">10/24/24</span>
                                </p>
                               <p class="uber-move-menu-item-para">Great Taste</p>
                            </blockquote>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
        <!-- review items end-->



    </div>
    <!-- reviews end -->

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>


    <!-- Vendor JS Files -->
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/php-email-form/validate.js"></script>
    <script src="/vendor/aos/aos.js"></script>
    <script src="/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- JS Files -->
    <script src="/js/main.js"></script>

    <script>
        // Function to get cart from local storage or initialize it
        function getCart() {
            return JSON.parse(localStorage.getItem("cart")) || [];
        }
    
        // Function to save cart back to local storage
        function saveCart(cart) {
            localStorage.setItem("cart", JSON.stringify(cart));
        }
    
        // Add event listeners to "Add to Cart" buttons
        document.querySelectorAll('.meta-info-btn').forEach(button => {
            button.addEventListener('click', function () {
                const cart = getCart();
    
                // Get item details from data attributes
                const item = {
                    id: this.getAttribute('data-id'),
                    name: this.getAttribute('data-name'),
                    price: this.getAttribute('data-price'),
                    image: this.getAttribute('data-image'),
                    quantity: 1
                };
                console.log(item);
    
                // Check if item is already in the cart
                const existingItem = cart.find(cartItem => cartItem.name === item.name);
                if (existingItem) {
                    existingItem.quantity++;
                } else {
                    cart.push(item);
                }
    
                // Save updated cart to local storage
                saveCart(cart);
    
                alert(`${item.name} added to cart!`);
            });
        });
    </script>
    

</body>

</html>